<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/output.css">
    <title>Document</title>
</head>
<body>
    <h2 class="text-red-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. In obcaecati nemo velit quas fugiat veniam consequuntur provident iure eos aut numquam, nam impedit nulla suscipit adipisci dolores autem eum pariatur quibusdam non? Vel ipsum accusamus necessitatibus, voluptate quae reiciendis.</h2>
</body>
</html>